<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Test</title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"
        />
        <link rel="stylesheet" href="index.css" />
    </head>
    <body class="wrapper">
        <div class="title" id="ttl">Check</div>
        <button class="button" id="btn">Click</button>
        <script src="./index.js"></script>
    </body>
</html>
