@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.button {
    padding: 10px 15px;
    background-color: white;
    border-radius: 5px;
    text-transform: uppercase;

    &:hover {
        background-color: whitesmoke;
    }
}
